@{
    ViewData["Title"] = "AccessDenied";
}

<div class="row">

    <div class="col">
        <h1 class="display-4 border-bottom text-center"> @ViewData["AccessDenied"] </h1>
    </div>
</div>


<div class="row">

    <div class="col">
        <div class="text-center"><h1><p>ERİŞİM ENGELLENDİ.</p></h1></div>
        <div class="text-center"><a asp-action="Index" asp-controller="Home">go to home my friend</a></div>
    </div>
</div>



