@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">

    <div class="col">
        <h1 class="display-4 border-bottom text-center"> @ViewData["Title"] </h1>
    </div>
</div>

<div class="row text-center">

        <div>
            <form method="post">
                <div class="form-group text-center mb-3">
                    <label asp-for=Username class="form-label">UserName</label>
                    <input asp-for=Username class="form-control" placeholder="contenct here"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                 <div class="form-group text-center mb-3">
                     <label asp-for=Password class="form-label">Password</label>
                     <input asp-for=Password  type="password" class="form-control" placeholder="password here" />
                     <span asp-validation-for="Password" class="text-danger"></span>
                </div>

            <div class="form-group text-center mb-3">
              <button class="btn btn-primary" type="submit">Login </button>
            </div>
        </form>

        </div>
</div>